<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Browserify Search</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body id="frontpage">

	<form action="/search" class="big-search-form">
		<h1 id="header"><span>Browserify</span></h1>
	
		<input
			name="q"
			type="search"
			autofocus
			placeholder="Search" size="36">
		<button 
			type="submit" 
			class="searchBtn btn btn-primary">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		
	</form>

</div>  
</body>
