<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Browserify Search</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body id="search">

	<form action="/search" class="small-search-form">
		<input
			id="searchbox"
			name="q"
			type="search"
			placeholder="search 41303 npm modules" size="36"
			autofocus
			value="{{query}}">
		<button 
			type="submit" 
			class="searchBtn btn btn-primary">
			<span class="glyphicon glyphicon-search"></span>
		</button>
	</form>
	
	<div class="search-results" data-show="ready">
		{{#each results}}
		<div class="search-result">
			<div class="title">
				<a href="https://www.npmjs.org/package/{{name}}">{{name}}</a> 
			</div>
			<div class="description">{{description}}</div>
		</div>
		{{/each}}

		{{paginate query pageOptions}}
	</div>

</div>  
</body>
