html {
	font-size: 1em;
	line-height: 1.4;
}

html * {
	font-family: "Helvetica Neue";
}

.searchBtn *{
	color: #fff;
}

#header {
	width: 300px;
	margin: auto;

	span {
		background: url(/images/browserify.png) center center no-repeat;
		background-size: 80%;
		height: 118px;
		width: 300px;

		text-indent: -9999px;
		display: block;
	}
}

@media screen and (min-width: 640px) {
	#header {
		width: 400px;
		span {
			width: 400px;
			background-size: 100%;
		}
	}
}

body * {
	box-sizing: border-box;
}

body#search {
	padding: 10px;
}

.small-search-form {
	
	input {
		font-size: 15px;
		padding: 5px;
		border: 1px solid #333;
			
		&:focus {
			outline: 0;
		}
	}

	button {
		vertical-align: top;
		font-size: 14px;
	}

}

.big-search-form {
	text-align: center;
	padding: 5px;
	width: 100%;
	position: fixed;
	top: 15%

	input {
		border: 1px solid #ddd;
		font-size: 15px;
		padding: 5px;

		&:focus {
			border: 1px solid #333;
			outline: 0;
		}
	}

	button {
		vertical-align: top;
		font-size: 15px;
	}
}

@media screen and (max-width: 640px) {
	.big-search-form {
		input {
			width: 85%;
		}
	}

	.small-search-form {
		input {
			width: 85%;
		}
	}
}

@media screen and (min-width: 640px) {
	.big-search-form {
		top: 25%;

		input {
			font-size: 24px;
		}

		button {
			font-size: 23px;
		}
	}
}

.search-results {
	padding: 10px;
	.title {
		font-size: 125%;
	}
}

.search-result {
	padding: 10px 0 10px 0;
}

.loading, .no_data {
	display: none;
	padding: 10px;
	padding-left: 20px;
	font-size: 125%;
	color: #999;
}

.exact {
	color: #07af06;
}

.scores {
	color: #999;
	font-size: 80%;
}

.footer {
	padding: 0 10px 10px 10px;
}

.info {
	color: #888;
}

@import './print';
